<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Passagem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <section class="container mt-4">
        <h1>Passagem</h1>
        <p>Sua origem é: {{ form.origem.value}}</p>
        <p>Seu destino é: {{ form.destino.value}}</p>
        <p>Sua data de Ida é: {{ form.data_ida.value}}</p>
        <p>Sua data de volta é: {{ form.data_volta.value}}</p>
        </form>
    </section>
</body>

</html>